.form {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.input {
  width: 300px;
  border-radius: 6px;
  border: 1px solid rgb(103, 100, 103);
  padding: 8px;
  padding-left: 12px;
}

.input::placeholder {
  color: rgb(14, 13, 14);
  font-size: 16px;
}

.btn {
  width: 100px;
  border: 1px solid rgb(103, 100, 103);
  cursor: pointer;
}

.btn:hover,
input:hover {
  border: 2px solid yellow;
}
